---
title: "FAQ · Nutmeg"
description: "THE foire aux questions de tout ce que vous vous demandez à propos de Nutmeg."

js:
noindex:

menu: 1
activeGuitares:
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "FAQ · Nutmeg"
twitterDescription: "THE foire aux questions de tout ce que vous vous demandez à propos de Nutmeg."
twitterImageUrl:    "http://nutmeg.fr/dist/images/favicon-nutmeg.png"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html title=page.title %}
  {% include header.html menu=1 %}

    <div class="container section nocrumbs last-section">
      <h1>FAQ</h1>
      <dl class="faq">
        <h3>Questions générales</h3>
        <dt>C’est quoi le rapport entre la noix de muscade (Nutmeg), une tête de bouc et les guitares&nbsp;?</dt>
        <dd>
          Bah c’est juste que les guitares et pédales Nutmeg nous rendent chèvres et ont un petit goût épicé.
          <br>C’est aussi une petite dédicace à mon bouc canadien préféré, découvert à la Flying Shoe Farm au Nouveau Brunswick, et qui répondait au doux nom de Nutmeg. Qu’est-ce qu’il m’a mis la misère...
        </dd>
        <dt>Où sont fabriquées les guitares&nbsp;?</dt>
        <dd>
          Du côté de l’est parisien entre Fontenay-sous-Bois et Paris 12<sup>e</sup>.
          <br>On est régulièrement du côté de <a href="http://www.letablisienne.com/">l’établisienne</a> pour les travaux manuels et on récupère des skates usagés chez <a href="http://www.nozbone.com/">Nozebone</a>.
        </dd>
        <h3 id="effets">Questions à propos du pedalboard</h3>
        <dt>Comment utiliser le pedalboard Nutmeg avec ma guitare électrique&nbsp;?</dt>
        <dd>
          Tu peux utiliser des interfaces comme l’<a href="http://www.ikmultimedia.com/products/irig2/">iRig</a>.
          <br>Branche la guitare et les écouteurs à l’iRig, l’iRig à ton ordi et baisse bien le volume avant de venir tester les effets.
        </dd>
        <dt>Quelles précautions&nbsp;?</dt>
        <dd>
          Baisse le volume pour commencer&nbsp;! Pour éviter les larsens.
          <br>Il faut aussi éviter d’activer trop d’effets à la fois :)
          <br>Dans tous les cas, pense à bien tester progressivement les différents effets.
        </dd>
        <dt>Quels navigateurs sont supportés&nbsp;?</dt>
        <dd>
          Épineuse question...
          <br>Vois-tu, les effets Nutmeg utilisent la <a href="http://webaudio.github.io/web-audio-api/">Web Audio API</a> qui est encore en brouillon. Du coup, ça ne marche pas encore partout malheureusement...
          <br>Si tu utilises <a href="https://www.google.fr/chrome/browser/desktop/">Chrome</a>, ça devrait bien marcher.
          <br>Si tu utilises <a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a>, ça devrait peut-être marcher (ou pas).
          <br>Si tu utilises Safari, Opera ou IE (ou Edge)... là, a priori, je ne peux rien pour toi.
        </dd>
      </dl>
    </div>

  {% include footer.html %}
{% include foot.html %}