---
title: "FAQ · Nutmeg"
description: ""

js:
noindex:

menu: 1
activeGuitares:
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "/dist/images/nutmeg.svg"
twitterDescription: "Guitares et effets"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html title=page.title %}
  {% include header.html menu=1 %}

    <div class="container section nocrumbs last-section">
      <h1>FAQ</h1>
      <dl class="faq">
        <dt>C’est quoi le rapport entre la noix de muscade (Nutmeg), une tête de bouc et les guitares&nbsp;?</dt>
        <dd>Bah c’est juste que les guitares et pédales Nutmeg nous rendent chèvres et ont un petit goût épicé.</dd>
        <dt>Où sont fabriquées les guitares&nbsp;?</dt>
        <dd>Du côté de l’est parisien entre Fontenay-sous-Bois et Paris 12<sup>e</sup>.</dd>
      </dl>
      <h3 id="effets">Effets</h3>
      <dl class="faq">
        <dt>Comment utiliser les effets Nutmeg avec ma guitare électrique&nbsp;?</dt>
        <dd>Tu peux utiliser des interfaces comme l’iRig.</dd>
        <dt>Quelles précautions&nbsp;?</dt>
        <dd>Baisser le son pour commencer.</dd>
      </dl>
    </div>

  {% include footer.html %}
{% include foot.html %}