---
title: "Nutmeg • Guitares, effets et pédales"
---

{% include header.html title=page.title %}

    <div class="bazinga guitars first-bazinga">
      <div class="container">
        {% include bazinga.html title=site.data.guitars.Titre image=site.data.guitars.Image description=site.data.guitars.Description linkTitle=site.data.guitars.LinkTitle linkUrl=site.data.guitars.LinkUrl offset="" titleLevel="1" buttonPrimary="-primary" %}
      </div>
    </div>

    <div class="bazinga fx">
      <div class="container">
        {% include bazinga.html title=site.data.fx.Titre image=site.data.fx.Image description=site.data.fx.Description linkTitle=site.data.fx.LinkTitle linkUrl=site.data.fx.LinkUrl offset="six" titleLevel="1" buttonPrimary="-primary" %}
      </div>
    </div>

    <div class="bazinga pedals last-bazinga">
      <div class="container">
        {% include bazinga.html title=site.data.pedals.Titre image=site.data.pedals.Image description=site.data.pedals.Description linkTitle=site.data.pedals.LinkTitle linkUrl=site.data.pedals.LinkUrl offset="" titleLevel="1" buttonPrimary="-primary" %}
      </div>
    </div>

{% include footer.html %}