---
title: "Nutmeg Guitars & effects"

### Massive 1 ###
1massiveTitle:
- Nutmeg guitars

1massiveDescription:
- "Fabriquées à la main à partir de matériaux recyclés, assemblées en France."

1massiveImageUrl:
- images/guitars.JPG

1massiveLinkTitle:
- En savoir plus sur nos guitares

1massiveLinkUrl:
- 

---
{% include header.html param=page.title %}
<div class="container">
{% include bazinga.html title=page.1massiveTitle description=page.1massiveDescription linkTitle=page.1massiveLinkTitle imageUrl=page.1massiveImageUrl destinationUrl=page.1massiveLinkUrl %}
</div>
{% include footer.html %}