---
title: "À propos · Nutmeg"
description: ""

js:
noindex: 1

menu: 1
activeGuitares:
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "/dist/images/nutmeg.svg"
twitterDescription: "Guitares et effets"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section nocrumbs last-section">
      <h1>À propos</h1>
      <p class="lead">
        
      </p>
    </div>

  {% include footer.html %}
{% include foot.html %}