---
title: "À propos · Nutmeg"
description: ""

js:
noindex: 1

menu: 1
activeGuitares:
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "/dist/images/nutmeg.svg"
twitterDescription: "Guitares et effets"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section nocrumbs lead last-section">
      <h1>À propos</h1>
      <div class="row flex-row reverse">
        <div class="eight columns">
          <p>
            
          </p>
        </div>
        <div class="four columns">
          <img class="u-max-full-width" src="{{ site.baseurl }}/dist/images/guitares/skateboard/nut-one/artisanat.jpg" alt="">
        </div>
      </div>
    </div>

  {% include footer.html %}
{% include foot.html %}