---
title: "Essayer · Nutmeg"
description: ""

js:
noindex:

menu: 1
activeGuitares:
activeEffets:
activeContact: 1

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "http://nutmeg.fr/dist/images/favicon-nutmeg.png"
twitterDescription: "Guitares et effets"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section nocrumbs last-section">
      <h1>Essayer</h1>
      <p>
        On s’est dit que t’aurais peut-être envie de faire un essai avant d’acheter une guitare ou une pédale.
      </p>
      <p>
       Pour faire un essai, contacte-nous&nbsp;:
      </p>
      <ul>
        <li>via notre Twitter <a href="//twitter.com/Nutmeg_fr">@Nutmeg_fr</a>&nbsp;;</li>
        <li>via le formulaire <a href="#formulaire">ci-dessous</a>&nbsp;;</li>
      </ul>
      <p>
        et on organise ça.
      </p>
      <p>
        À très vite&nbsp;!
      </p>
      <h2 id="formulaire">Formulaire</h2>
      <form class="formulaire" action="https://getsimpleform.com/messages?form_api_token=66472dc236aa9c01a6e561a249236e2d" method="post">
        <input type='hidden' name='redirect_to' value='http://127.0.0.1:4000/contact/merci.html'>
        <label for="email">Adresse email <small>(Pour te répondre. Uniquement.)</small></label>
        <input class="u-full-width" id="email" placeholder="ton_email@mailbox.com" name="email" type="email">
        <label for="objet">Objet</label>
        <select class="u-full-width" id="objet" name="objet">
          <option value="Essayer une guitare">Essayer une guitare</option>
          <option value="Essayer une pédale">Essayer une pédale</option>
          <option value="Question sur les effets">Question sur les effets</option>
          <option value="Autre">Autre</option>
        </select>
        <label for="message">Message</label>
        <textarea id="message" placeholder="Salut..." class="u-full-width" name="message"></textarea>
        <button class="button button-primary u-full-width" type="submit">Envoyer</button>
      </form>
      <p class="mention">(Formulaire garanti sans SPAM et sans <acronym title="Organisme Génétiquement Modifié">OGM</acronym>)</p>
    </div>

  {% include footer.html %}
{% include foot.html %}