---
title: "Contact : merci pour ton message · Nutmeg"
description: ""

js:
noindex: 1

menu: 1
activeGuitares:
activeEffets:
activeContact: 1

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "http://nutmeg.fr/dist/images/favicon-nutmeg.png"
twitterDescription: "Merci pour ton message"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section nocrumbs last-section">
      <h1>Merci pour ton message</h1>
      <p class="lead">
        Nous y répondrons promptement.
        <br>En attendant, tu peux regarder cette vidéo&nbsp;:
      </p>
      <iframe width="800" height="600" class="u-full-width" src="https://www.youtube.com/embed/v-ObUg_n4A0" allowfullscreen></iframe>
    </div>

  {% include footer.html %}
{% include foot.html %}