---
title: "Projet personnalisé · Nutmeg"
description: ""

js:
noindex:

menu: 1
activeGuitares:
activeEffets:
activeContact: 1

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "http://nutmeg.fr/dist/images/favicon-nutmeg.png"
twitterDescription: "Nutmeg fabrique la guitare de tes rêves !"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section last-section">

      <div class="breadcrumb">
        <span typeof="v:Breadcrumb">
          <a href="{{ site.baseurl }}/" rel="v:url" property="v:title">Nutmeg</a>
          <span rel="v:child" typeof="v:Breadcrumb">
            <a href="{{ site.baseurl }}{{ site.data.guitares.LinkUrl }}" rel="v:url" property="v:title">{{ site.data.guitares.Titre }}</a>
          </span>
        </span>
      </div>

      <h1>Ton projet perso</h1>
      <p class="lead">
        Décris-nous ton projet, ton envie, ton rêve&nbsp;!
        <br>N’oublie pas de nous préciser les matériaux dont tu disposes, ceux dont tu as besoin.
        <br>On te répondra au plus vite pour te dire ce qu'on peut faire pour répondre au mieux à ta demande :)
      </p>
      <form class="formulaire" action="https://getsimpleform.com/messages?form_api_token=66472dc236aa9c01a6e561a249236e2d" method="post">
        <input type='hidden' name='redirect_to' value='http://nutmeg.fr/contact/merci.html'>
        <label for="email">Adresse email <small>(Pour te répondre. Uniquement.)</small></label>
        <input class="u-full-width" id="email" placeholder="ton_email@mailbox.com" name="email" type="email" required="required">
        <label for="objet">Objet</label>
        <select class="u-full-width" id="objet" name="objet" required="required">
          <option value="Projet personnalisé">Projet personnalisé</option>
        </select>
        <label for="message">Message</label>
        <textarea id="message" placeholder="Salut..." class="u-full-width" name="message" required="required"></textarea>
        <button class="button button-primary u-full-width" type="submit">Envoyer</button>
      </form>
      <p class="mention">(Formulaire garanti sans SPAM et sans <acronym title="Organisme Génétiquement Modifié">OGM</acronym>)</p>
    </div>

  {% include footer.html %}
{% include foot.html %}
