---
title: "Pedalboard · Effets · Nutmeg"
description: "Ton pedalboard en ligne, open source et personnalisable."

js: 1
noindex:

menu: 1
activeGuitares:
activeEffets: 1
activeContact:

twitterCard:        "summary_large_image"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Le pedalboard par Nutmeg"
twitterDescription: "Ton pedalboard en ligne, open source et personnalisable."
twitterImageUrl:    "http://nutmeg.fr/dist/images/effets/nutmeg-effets-1500.jpg"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
{% include header.html %}

    <div class="container section last-section">

      <div class="breadcrumb">
        <span typeof="v:Breadcrumb">
          <a href="{{ site.baseurl }}/" rel="v:url" property="v:title">Nutmeg</a>
          <span rel="v:child" typeof="v:Breadcrumb">
            <a href="{{ site.baseurl }}{{ site.data.effets.LinkUrl }}" rel="v:url" property="v:title">{{ site.data.effets.Titre }}</a>
          </span>
        </span>
      </div>

      <h1>Pedalboard <small>(v 0.1)</small></h1>
      <p>
        Effets activés : <button id="overallEffects" class="button button-primary off" onclick="switchEffet(this,'overall');">A</button>
      </p>

      <div id="controls" class="board">
        {% for effect in site.data.effets.effects %}
        {% capture mod %} {{ forloop.index | modulo:4 }} {% endcapture%}
          {% if forloop.first or forloop.index == 5 %}<div class="row flex-row">{% endif %}
           {% include effet.html name=effect.class title=effect.Title effet=effect.Effet key=effect.Key %}
          {% if forloop.index == 4 or forloop.last %}</div>{% endif %}
        {% endfor %}
  <!--       <div class="row">
          {% include effet-vide.html %}
        </div> -->
      </div>

      <p class="lead">
        Attention, à utiliser avec moult précautions :) (<a href="{{ site.baseurl }}/faq/#effets">En savoir plus</a>)
      </p>

      <div class="row flex-row reverse">
        <div class="three columns cover-container">
          <a title="[CC BY 3.0 FR (http://creativecommons.org/licenses/by/3.0)]" href="http://creativecommons.org/licenses/by/3.0/fr/"><img class="u-full-width contain" alt="Creative commons logo and wordmark" src="//mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg"/></a>
        </div>
        <div class="nine columns">
          <p>Nos effets sont sous licence <a title="[CC BY 3.0 FR (http://creativecommons.org/licenses/by/3.0)]" href="http://creativecommons.org/licenses/by/3.0/fr/">Creative Commons Attribution 3.0 France (CC BY 3.0 FR)</a>.</p>
        </div>
      </div>

    </div>


{% include footer.html %}
{% include foot.html %}
