<div class="six columns offset-by-{{ include.offset }}">
  {% if include.linkUrl != "" %}<a href="{{ include.linkUrl }}">{% endif %}
    {% if include.title != "" %}
  <h{{ include.titleLevel }}>{{ include.title }}</h{{ include.titleLevel }}>
    {% endif %}
    {% if include.description != "" %}
  <p>{{ include.description }}</p>          
    {% endif %}
    {% if include.linkUrl != "" %}
  <span class="button button{{ include.buttonPrimary }}">{{ include.linkTitle }}</span>
    {% endif %}
  {% if include.linkUrl != "" %}</a>{% endif %}
</div>