{% if include.pedal == "nutmeg" %}
<div class="four columns pedal on nutmeg">
  <h5>Nutmeg's stinky drive</h5>
  <div class="row">
    <div class="six columns">
      Tone<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Stink<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="eight columns offset-by-two">
      Drive<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">A</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "clover" %}
<div class="five columns pedal on clover">
  <h5>Clover's infinite echo</h5>
  <div class="row">
    <div class="six columns">
      Delay<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Mod<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      Feedback<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Mix<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="six columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">B</a>
    </div>
    <div class="six columns">
      tap <span class="active">120&nbsp;bpm</span><br>
      <a class="button button-primary" href="#">C</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "oliver" %}
<div class="three columns pedal on oliver">
  <h5>Oliver's holly reverb</h5>
  <div class="row">
    <div class="eight columns offset-by-two">
      Style<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
      Reverb<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "zelda" %}
<div class="four columns pedal on zelda">
  <h5>Zelda's fun auto-wha</h5>
  <div class="row">
    <div class="six columns">
      Mode<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Drive<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="eight columns offset-by-two">
      Q<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "tara" %}
<div class="five columns pedal on tara">
  <h5>Tara's sweet compres­sor</h5>
  <div class="row">
    <div class="six columns">
      Emphasis<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Volume<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      Attack<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Compression<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "piggely" %}
<div class="three columns pedal on piggely">
  <h5>Piggely's screaming octaver</h5>
  <div class="row">
    <div class="twelve columns">
      Level<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "wiggely" %}
<div class="four columns pedal on wiggely">
  <h5>Wiggely's dirty wah-bass</h5>
  <div class="row">
    <div class="eight columns offset-by-two">
      Dirt<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
      Q<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "pigasus" %}
<div class="three columns pedal on pigasus">
  <h5>Pigasus' extreme boost</h5>
  <div class="row">
    <div class="twelve columns">
      Boost<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% elsif include.pedal == "shaolin" %}
<div class="five columns pedal on shaolin">
  <h5>Shaolin's warm chorus</h5>
  <div class="row">
    <div class="six columns">
      Speed<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Delay<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      Depth<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Mix<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>
{% else %}
<div class="three columns pedal off">
  <a class="button" href="/effets/">+</a>
</div>
{% endif %}