    <script>
      if (window.location.href.indexOf('http://odevillardi.github.io') === 0) {
        window.location.href = 'http://nutmeg.fr{{ site.baseurl }}{{ page.url }}';
      }
    </script>
    <script type="application/ld+json">
      {  "@context" : "http://schema.org",
         "@type" : "WebSite",
         "name" : "Nutmeg",
         "url" : "http://nutmeg.fr/"
      }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  </body>
</html>
