    <script>
      if (window.location.href.indexOf('http://odevillardi.github.io') === 0) {
        window.location.href = 'http://nutmeg.fr{{ site.baseurl }}{{ page.url }}';
      }
    </script>
    <script type="application/ld+json">
      {  "@context" : "http://schema.org",
         "@type" : "WebSite",
         "name" : "Nutmeg",
         "url" : "http://nutmeg.fr/"
      }
    </script>
    <script>
      WebFontConfig = {
        google: {
          families: ['Ovo', 'Lato:300,700', 'PT+Mono']
        },
        timeout: 2000
      };

     (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js';
        s.parentNode.insertBefore(wf, s);
     })(document);
    </script>
  </body>
</html>