<footer>
  <div class="footer">
    <ul class="inline-list">
      <li><a href="{{ site.baseurl }}{{ site.data.boutons.contactCourt.url }}">Contact</a></li>
      <!-- <li><a href="{{ site.baseurl }}/a-propos/">À propos</a></li> -->
      <li><a href="{{ site.baseurl }}/remerciements/">Merci</a></a></li>
      <li><a href="{{ site.baseurl }}/faq/"><abbr title="Foire Aux Questions">FAQ</abbr></a></li>
    </ul>
  </div>
<!--   <div class="thanks">
    <ul class="inline-list">
      <li><a href="{{ site.baseurl }}/faq/"><abbr title="Foire Aux Questions">FAQ</abbr></a></li>
      <li><a href="{{ site.baseurl }}/cgv/"><abbr title="Conditions Générales de Vente">CGV</abbr></a></li>
    </ul>
  </div> -->
</footer>