<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ include.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Olivier de Villardi">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/nutmeg.css">

    <link rel="icon" type="{{ site.baseurl }}/image/png" href="/images/favico.png">
  </head>

  <body>
    <header>
      <div class="header">
        <a href="/"><img src="{{ site.baseurl }}/images/nutmeg-carre.svg" alt="NUTMEG"></a>
      </div>
      <div class="play">
        <a class="button" href="{{ site.baseurl }}/play/">Play</a>
      </div>
    </header>