<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Nutmeg">
    <link rel="canonical" href="http://nutmeg.fr{{ site.baseurl }}{{ page.url }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ page.title }}">

    <link rel="icon" href="{{ site.baseurl }}/dist/images/favicon-nutmeg.png">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/dist/images/touch-nutmeg.png">

    <link href="{{ site.baseurl }}/dist/css/nutmeg.css" rel='stylesheet' type='text/css'>
  </head>

  <body>
