<div class="six columns pedal on clover">
  <a class="button" href="#">-</a>
  <h5>Clover's infinite echo</h5>
  <table class="u-full-width">
    <thead></thead>
    <tbody>
      <tr>
        <td>Delay</td>
        <td>9</td>
      </tr>
      <tr>
        <td><abbr title="Modulation">Mod</abbr></td>
        <td>5</td>
      </tr>
      <tr>
        <td><abbr title="Feedback">Fbk</abbr></td>
        <td>5</td>
      </tr>
      <tr>
        <td>Mix</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  <table class="u-full-width footswitches">
    <thead>
      <tr>
        <th>on / off</th>
        <th>tap tempo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="button button-primary" href="#">B</a></td>
        <td><a class="button button-primary" href="#">C</a></td>
      </tr>
    </tbody>
  </table>
</div>