<div class="six columns">
  <h2>{{ include.title }}</h2>
  {% if include.image %}
    <a{% if include.infoUrl %} href="{{ site.baseurl }}{{ include.infoUrl }}"{% else %} class="disabled"{% endif %}>
      <img class="u-max-full-width"
           alt="{{ include.infoTitle | strip_html }} les Guitares {{ include.title | strip_html }}"
           srcset="{{ site.baseurl }}{{ include.image }}-1280.jpg 1280w,
           {{ site.baseurl }}{{ include.image }}-920.jpg 920w,
           {{ site.baseurl }}{{ include.image }}-640.jpg 640w"
           sizes="(min-width: 750px) 48vw,
           100vw"
           src="{{ site.baseurl }}{{ include.image }}-640.jpg">
    </a>
  {% endif %}
  <div class="text-center">
    <p class="lead">{{ include.description }}</p>
    {% if include.buyUrl %}
      {% if include.infoUrl %}
        <a class="button" href="{{ site.baseurl }}{{ include.infoUrl }}">{{ include.infoTitle }}</a>
      {% endif %}
      {% if include.price %}
        <p>{{ include.price }}</p>
      {% endif %}
        <a class="button button-primary u-full-width" href="{{ site.baseurl }}{{ include.buyUrl }}">{{ include.buyTitle }}</a>
    {% else %}
      {% if include.price %}
        <p>{{ include.price }}</p>
      {% endif %}
      {% if include.infoTitle %}
        <a class="button{% if include.infoUrl %} button-primary{% else %} disabled{% endif %} u-full-width"{% if include.infoUrl %} href="{{ site.baseurl }}{{ include.infoUrl }}"{% endif %}>{{ include.infoTitle }}</a>
      {% endif %}
    {% endif %}
  </div>
</div>