---
title: "Effets · Nutmeg"
description: "Nos effets numériques pour guitare électriques, à utiliser en ligne, directement dans le navigateur !"

js:
noindex:

menu: 1
activeGuitares:
activeEffets: 1
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Les effets pour guitares par Nutmeg"
twitterDescription: "Nos effets numériques pour guitare électriques, à utiliser en ligne, directement dans le navigateur !"
twitterImageUrl:    "/dist/images/nutmeg.svg"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
{% include header.html %}

    <div class="container section">

      <div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
          <a href="{{ site.baseurl }}/" rel="v:url" property="v:title">Nutmeg</a>
        </span>
      </div>
      
      <a class="button button-primary first-button u-pull-right" href="{{ site.data.effets.PedalboardUrl }}">{{ site.data.effets.PedalboardTitle }}</a>
      <h1>{{ site.data.effets.Titre }}</h1>
      <div class="lead">
        <p>
          {{ site.data.effets.Description }}
          <br>
          {{ site.data.effets.AddDescription }}
        </p>

        <h2>Le {{ site.data.effets.PedalboardTitle }}</h2>
        <div class="row flex-row">
          <div class="six columns cover-container">
            <a href="{{ site.data.effets.PedalboardUrl }}">
              <img class="u-full-width cover"
                   alt="Photo du {{ site.data.effets.PedalboardTitle }}"
                   srcset="{{ site.baseurl }}/dist/images/effets/nutmeg-effets-2880.jpg 2880w,
                   {{ site.baseurl }}/dist/images/effets/nutmeg-effets-2000.jpg 2000w,
                   {{ site.baseurl }}/dist/images/effets/nutmeg-effets-1500.jpg 1500w,
                   {{ site.baseurl }}/dist/images/effets/nutmeg-effets-1280.jpg 1280w,
                   {{ site.baseurl }}/dist/images/effets/nutmeg-effets-750.jpg 750w"
                   sizes="(min-width: 750px) 50vw,100vw"
                   src="{{ site.baseurl }}/dist/images/effets/nutmeg-effets-750.jpg">
            </a>
          </div>
          <div class="six columns text-center">
            <p>
              Le pedalboard te permet d’utiliser nos effets avec ta guitare électrique, branchée sur ton ordi, directement dans ton navigateur.
            </p>
            <a class="button" href="{{ site.baseurl }}/faq/#effets">En savoir plus</a>
            <p>
              <strong>Gratuit</strong>
            </p>
            <a class="button button-primary u-full-width" href="{{ site.data.effets.PedalboardUrl }}">Utiliser le {{ site.data.effets.PedalboardTitle }}</a>
          </div>
        </div>

        <div class="row">
          <h2>Les effets</h2>
          <p>Voici les différents effets que nous développons&nbsp;:</p>
          <ul>
          {% for effect in site.data.effets.effects %}
            <li><strong class="{{ effect.class }}">{{ effect.Title }}</strong>, {{ effect.Description }}</li>
          {% endfor %}
          </ul>
          <p>On essaiera d’en ajouter plus, au fur et à mesure de nos expérimentations.</p>
        </div>

        <h3>Branchés par HTML5</h3>
        <div class="row flex-row reverse">
          <div class="eight columns">
            <p>On utilise l’<a href="http://webaudio.github.io/web-audio-api/">API Web Audio</a>, un système puissant et flexible de contrôle et d'analyse des données audio sur internet [<a href="https://developer.mozilla.org/fr/docs/Web/API/Web_Audio_API">Mozilla</a>].</p>
            <p>C’est du JS, donc pas à proprement parlé HTML5… Mais on aime plutôt bien ce bouclier orange :)</p>
          </div>
          <div class="four columns cover-container">
            <a title="W3C [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AHTML5_logo_and_wordmark.svg"><img class="u-max-full-width contain" alt="HTML5 logo and wordmark" src="//upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"></a>
          </div>
        </div>
        <h3>Open source</h3>
        <div class="row flex-row reverse">
          <div class="eight columns">
            <p>Nos effets sont sous licence <a title="[CC BY 3.0 FR (http://creativecommons.org/licenses/by/3.0)]" href="http://creativecommons.org/licenses/by/3.0/fr/">Creative Commons Attribution 3.0 France (CC BY 3.0 FR)</a>.</p>
            <p>Les sources sont dispo sur <a href="//github.com/odevillardi/Nutmeg-effects">Github</a>.</p>
          </div>
          <div class="four columns cover-container">
            <a title="[CC BY 3.0 FR (http://creativecommons.org/licenses/by/3.0)]" href="http://creativecommons.org/licenses/by/3.0/fr/"><img class="u-full-width contain" alt="Creative commons logo and wordmark" src="//mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg"></a>
          </div>
        </div>
      </div>

    </div>

    <div class="discover">
      <div class="container">
        <h4>Découvrez aussi nos guitares</h4>
      </div>
    </div>
      
    <div class="bazinga guitares last-bazinga">
      <div class="container">
        {% include bazinga.html title=site.data.guitares.Titre image=site.data.guitares.Image description=site.data.guitares.Description linkTitle=site.data.guitares.LinkTitle linkUrl=site.data.guitares.LinkUrl offset="" titleLevel="3" %}
      </div>
    </div>


{% include footer.html %}
{% include foot.html %}