---
title: "Guitares • Nutmeg"
---

{% include header.html title=page.title %}

    <div class="container section">
      <h1>{{ site.data.guitars.Titre }}</h1>
      <p>
        {{ site.data.guitars.Description }}
        <br>
        {{ site.data.guitars.AddDescription }}
      </p>
      {% for serie in site.data.guitars.series %}
        {% include section-product.html title=serie.Title image=serie.Image description=serie.Description buyTitle=serie.BuyTitle buyUrl=serie.BuyUrl infoTitle=serie.InfoTitle infoUrl=serie.InfoUrl offset=serie.Offset price=serie.Price %}
      {% endfor %}
    </div>

    <div class="discover">
      <div class="container">
        <h4>Découvrez aussi nos effets et pédales</h4>
      </div>
    </div>
      
    <div class="bazinga fx last-bazinga">
      <div class="container">
        <div class="row">
          {% include bazinga.html title=site.data.fx.Titre image=site.data.fx.Image description=site.data.fx.Description linkTitle=site.data.fx.LinkTitle linkUrl=site.data.fx.LinkUrl offset="" titleLevel="3" %}
          
          {% include bazinga.html title=site.data.pedals.Titre image=site.data.pedals.Image description=site.data.pedals.Description linkTitle=site.data.pedals.LinkTitle linkUrl=site.data.pedals.LinkUrl offset="" titleLevel="3" %}
        </div>
      </div>
    </div>

{% include footer.html %}