---
title: "Guitares · Nutmeg"
description: "Guitares artisanales fabriquées à partir de matériaux recyclés : skateboard, plans de travail..."

js:
noindex:

menu: 1
activeGuitares: 1
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Guitares · Nutmeg"
twitterDescription: "Guitares artisanales fabriquées à partir de matériaux recyclés : skateboard, plans de travail..."
twitterImageUrl:    "/dist/images/guitares/nutmeg-guitares-1080.jpg"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html title=page.title %}
{% include header.html menu=1 activeGuitares=1 %}

    <div class="container section">

      <div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb">
          <a href="{{ site.baseurl }}/" rel="v:url" property="v:title">Nutmeg</a>
        </span>
      </div>

      <h1>{{ site.data.guitares.Titre }}</h1>
      <p class="lead">
        {{ site.data.guitares.Description }}
        <br>
        {{ site.data.guitares.AddDescription }}
      </p>

      <div id="catalogue" class="row">
        {% for serie in site.data.guitares.series %}
          {% capture thisTitle %} {{ serie.Title | remove:'Guitares ' }} {% endcapture %}
          {% include serie.html title=thisTitle image=serie.Image description=serie.Description infoTitle=serie.InfoTitle infoUrl=serie.InfoUrl offset=serie.Offset price=serie.Price %}
        {% endfor %}
      </div>

      <div class="row lead">
        <div class="six columns">
          <h3>Custom</h3>
          <p>Crée ta guitare&nbsp;: choisis ta planche, ton accastillage, ton son et tes finitions. Une guitare artisanale totalement unique.</p>
          <a class="button u-full-width disabled">Bientôt</a>
        </div>
        <div class="six columns">
          <h3>Recyclé</h3>
          <p>Une envie très personnelle&nbsp;? Fournis-nous les matériaux que tu veux recycler, décris-nous ton projet. On s’occupe du reste.</p>
          <a class="button u-full-width" href="{{ site.baseurl }}{{ site.data.boutons.contactLong.url }}">{{ site.data.boutons.contactLong.name }}</a>
        </div>
      </div>
    </div>

    <div class="discover">
      <div class="container">
        <h4>Découvrez aussi nos effets</h4>
      </div>
    </div>
      
    <div class="bazinga effets last-bazinga">
      <div class="container">
        {% include bazinga.html title=site.data.effets.Titre image=site.data.effets.Image description=site.data.effets.Description linkTitle=site.data.effets.LinkTitle linkUrl=site.data.effets.LinkUrl offset="" titleLevel="3" %}
      </div>
    </div>

{% include footer.html %}
{% include foot.html %}