---
title: "Remerciements · Nutmeg"
description: ""

js:
noindex: 1

menu: 1
activeGuitares:
activeEffets:
activeContact:

twitterCard:        "summary"
twitterCreator:     "@Nutmeg_fr"
twitterTitle:       "Nutmeg"
twitterImageUrl:    "/dist/images/nutmeg.svg"
twitterDescription: "Guitares et effets"
twitterData1:
twitterLabel1:
twitterData2:
twitterLabel2:
---

{% include head.html %}
  {% include header.html %}

    <div class="container section nocrumbs last-section">
      <h1>Remerciements</h1>
      <p class="lead">
        Parce que ça me prend déjà beaucoup de temps, mais que ça m'en prendrait encore plus sans eux, merci à&nbsp;:
      </p>
      <ul class="lead">
        <li><a href="http://www.letablisienne.com/">L’établisienne</a> pour leur magnifique concept d’établis partagés.</li>
        <li><a href="http://www.nozbone.com/">Nozbone</a> pour les nombreuses planches de skate gratos.</li>
        <li>
          Les contributeurs à la <a href="http://webaudio.github.io/web-audio-api/">Web Audio API</a>&nbsp;
          <ul>
            <li>Paul Adenot, <a href="https://www.mozilla.org/">Mozilla</a></li>
            <li>Chris Wilson, <a href="https://www.google.com/">Google, Inc.</a>.</li>
            <li>Chris Rogers</li>
          </ul>
        </li>
        <li><a href="https://github.com/dhg">Dave Gamache</a>, pour <a href="http://getskeleton.com/">Skeleton</a> sous <a href="https://github.com/dhg/Skeleton/blob/master/LICENSE.md">licence MIT</a></li>
        <li><a href="https://github.com/cwilso">Chris Wilson</a>, pour <a href="https://github.com/cwilso/Audio-Input-Effects">ses effets</a> sous <a href="https://github.com/cwilso/Audio-Input-Effects/blob/master/LICENSE.txt">licence MIT</a></li>
      </ul>
      <p class="lead">BIG UP&nbsp;!</p>
    </div>

  {% include footer.html %}
{% include foot.html %}