<div class="five columns pedal on clover">
  <h5>Clover's infinite echo</h5>
  <div class="row">
    <div class="six columns">
      Delay<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Mod<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      Feedback<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
    <div class="six columns">
      Mix<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="six columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">B</a>
    </div>
    <div class="six columns">
      tap <span class="active">120&nbsp;bpm</span><br>
      <a class="button button-primary" href="#">C</a>
    </div>
  </div>
</div>