<div class="five columns pedal on clover">
  <h5>Clover's infinite echo</h5>
  <div class="row">
    <div class="six columns">
      Delay<br>
      <input id="dtime" type="range" min="0.01" max="3" step="0.01" value="0.15" onInput="if (dtime) dtime.delayTime.value = event.target.value;">
    </div>
    <div class="six columns">
      Feedback<br>
      <input id="dregen" type="range" min="0.0" max="1.0" step="0.01" value="0.75" onInput="if (dregen) dregen.gain.value = event.target.value;">
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
      Mix<br>
      <input type="range" min="0.0" max="1.0" step="0.01" value="1.0" onInput="crossfade( event.target.value );">
    </div>
  </div>
  <div class="footswitches row">
    <div class="six columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">B</a>
    </div>
    <div class="six columns">
      tap <span class="active">120&nbsp;bpm</span><br>
      <a class="button button-primary" href="#">C</a>
    </div>
  </div>
</div>