<div class="three columns pedal on oliver">
  <h5>Oliver's holly reverb</h5>
  <div class="row">
    <div class="eight columns offset-by-two">
      Style<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
      Reverb<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>