<div class="three columns pedal on piggely">
  <h5>Piggely's screaming octaver</h5>
  <div class="row">
    <div class="twelve columns">
      Level<br>
      <input class="knob" data-thickness=".2" data-width="60%" data-angleOffset=-125 data-angleArc=250 data-fgColor="#E1E1E1" data-bgColor="black" data-rotation="clockwise" value="70">
    </div>
  </div>
  <div class="footswitches row">
    <div class="twelve columns">
      on/<span class="active">off</span><br>
      <a class="button button-primary" href="#">D</a>
    </div>
  </div>
</div>